.container {
  width: 100%;
  overflow: hidden;
}
.container .main {
  width: 100%;
  height: 1240px;
  background: url(../../../img/bg.jpg) no-repeat left top;
  background-size: 100% 100%;
  padding: 18px 12px 0 12px;
  overflow: hidden;
}
.container .main .main-top {
  width: 100%;
  height: 69px;
}
.container .main .main-top .enter-guan {
  width: 168px;
  height: 69px;
  background: url(../../../img/enter-guan.png) no-repeat left top;
  background-size: 100% 100%;
  float: right;
  cursor: pointer;
  margin-right: 20px;
}
.container .main .same {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main .word1 {
  font-size: 26px;
  color: #ffb21d;
  margin-top: 846px;
  font-weight: bolder;
}
.container .main .word2 {
  font-size: 22px;
  color: #fff;
  width: 520px;
  height: 50px;
  margin: 12px auto 18px;
  background: url(../../../img/radious.png) no-repeat top left;
  background-size: 100% 100%;
}
.container .main .btn {
  display: flex;
  justify-content: space-around;
}
.container .main .btn div {
  width: 214px;
}
.container .main .btn div img {
  width: 214px;
}
.container .main .arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 44px;
}
.container .advantage {
  width: 100%;
  height: 68rem;
  position: relative;
}
.container .swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.container .swiper-slide {
  background-size: cover;
  background-position: center;
}
.container .gallery-top {
  height: 100%;
  width: 100%;
  position: absolute;
}
.container .gallery-thumbs {
  height: 6.2rem;
  box-sizing: border-box;
  padding: 10px 0;
  position: absolute !important;
  bottom: 50px !important;
  background: rgba(0, 0, 0, 0.78);
  /*border: 1px solid rgb(208, 179, 119)*/
}
.container .gallery-thumbs .swiper-slide {
  width: 22% !important;
  height: 4.7rem;
  opacity: 0.4;
}
.container .gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.container .question {
  width: 100%;
  background: url(../../../img/question-bg1.png) no-repeat top left;
  background-size: 100% 100%;
}
.container .question .outer {
  padding-bottom: 0rem;
}
.container .question .outer .inner {
  padding: 2.5rem 2rem 1rem 2rem;
  font-size: 1.1rem;
}
.container .question .outer .inner .word {
  font-size: 2.1rem;
  color: #fff;
  font-weight: bolder;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .question .outer .inner .img {
  width: 26rem;
  height: 0.9rem;
  margin: 1.2rem auto 1.7rem;
}
.container .question .outer .inner .img img {
  width: 100%;
}
.container .question .outer .inner .div1 .white {
  font-size: 1.1rem;
  color: #fff;
}
.container .question .outer .inner .div1 .common-q {
  line-height: 30px;
}
.container .question .outer .inner .div1 .blue {
  color: #788aba;
  line-height: 1.5rem;
  margin-top: 0.4rem;
  margin-bottom: 2.2rem;
}
.container .question .outer .inner .div1 .yellow {
  color: #e7ca73;
  text-decoration: underline;
}
.container .question .outer .inner .bottom {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .question .outer .inner .bottom .bottom-bg {
  width: 27.4rem;
  height: 7.3rem;
  background: url(../../../img/botom-bg.png) no-repeat center center;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .question .outer .inner .bottom .bottom-bg span {
  display: inline;
}
.container .question .outer .inner .bottom .bottom-bg .sp1 {
  width: 93px;
  height: 88px;
  margin-left: 2.6rem;
  background: url(../../../img/dadao.png) no-repeat left top;
  background-size: 50%;
  margin-top: 30px;
}
.container .question .outer .inner .bottom .bottom-bg .sp2 img {
  width: 2px;
}
.container .question .outer .inner .bottom .bottom-bg .sp3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .question .outer .inner .bottom .bottom-bg .sp3 .big {
  font-size: 1.5rem;
  color: #fff;
}
.container .question .outer .inner .bottom .bottom-bg .sp3 a {
  font-size: 0.8rem;
  color: #72aaff;
  margin-top: 0.6rem;
  display: inline;
}
footer {
  width: 100%;
  height: 80px;
  background: url(../../../img//bottom.jpg) no-repeat 0 0;
  background-size: 100%;
}
