html {
  font-size: 100px;
}
@media screen and (min-width: 375px) {
  html {
    font-size: 117.1875px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 129.375px;
  }
}
@media screen and (max-height: 480px) {
  html {
    font-size: 90px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 140px;
  }
}

nav {
  width: 100%;
  height: 47px;
  position: fixed;
  top: 0;
  left: 0;
  background: #101010;
  z-index: 20;
  .bar {
    background: url(../img/icon_leftbar.png) no-repeat;
    width: 0.17rem;
    height: 0.11rem;
    position: absolute;
    left: 0.12rem;
    top: 0.12rem;
    background-size: 100% auto;
  }
  span {
    width: 0.61rem;
    height: 0.255rem;
    display: block;
    margin: 0.0575rem auto;
    background: url(../img/logo.png) no-repeat center center;
    background-size: 100% auto;
  }
  .home {
    background: url(../img/icon_home.png) no-repeat;
    width: 0.17rem;
    height: 0.17rem;
    position: absolute;
    right: 0.13rem;
    top: 0.1rem;
    background-size: 100% auto;
  }
}

.loading_box {
  width: 100%;
  height: 100%;
  background: url(../img/bg01.jpg) no-repeat;
  background-size: cover;
  background-color: #030407;
  position: relative;
  padding-top: 1.08rem;
  z-index: 200;
  .arrow {
    width: 0.24rem;
    height: 0.12rem;
    background: url(../img/arrow_icon.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0.33rem;
    left: 50%;
    margin-left: -0.12rem;
    opacity: 1;
    -webkit-transition: opacity 0.6s 2s ease-in-out;
    transition: opacity 0.6s 2s ease-in-out;
    -webkit-animation: arrow 1s ease-in-out infinite;
    animation: arrow 1s ease-in-out infinite;
  }
  .logo {
    width: 1.26rem;
    height: 0.52rem;
    background: url(../img/csgo_logo.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
  }
  .loading_process {
    width: 3rem;
    margin: 0 auto;
    position: relative;
    .loading_num {
      color: #fff;
      position: absolute;
      top: 0.7rem;
      right: 0.46rem;
      font-size: 0.09rem;
    }

    .loading_bar {
      width: 2.2rem;
      height: 0.02rem;
      background-color: #4a4b4e;
      overflow: hidden;
      position: absolute;
      top: 1rem;
      left: 50%;
      margin-left: -1.1rem;
      .loading_icon {
        width: 0rem;
        height: 0.02rem;
        background-color: #fff;
        transition: width 0.3s;
        -moz-transition: width 0.3s;
        -webkit-transition: width 0.3s;
        -o-transition: width 0.3s;
      }
    }
  }
  .enter_btn {
    display: none;
    width: 1.11rem;
    height: 0.31rem;
    background: url(../img/enter_btn.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    margin-left: -0.555rem;
  }
}
